/*Pune style aici */
.right { /* Tabelul Monetar  */
    display: grid;
    margin-left: 1000px;
    display: block;
    margin-block-end: 10;
}

.left {
   margin-left: 400px;  /* aici este tabelul Contributie   */
    margin-top: -680px;
    display: block;
}

.misloc{
    margin-left: 400px;
    display: block;
}

.ziua1 {   /* data */
    margin-right: -10%;
    /* margin-top: 30px;   */
}
.ziua2 {   /* data */
    margin-left: 60%;
    margin-top: 200px;
    display: block;
}
.btn-primary {
    background-color: red;
    color: white;
    /* Alte stiluri specifice pentru butonul primar */
  }
  