/*Pune style aici */
.right {
  display: grid;
  margin-left: 1000px;
  margin-block-end: 10px;
}


.left {
   margin-left: 400px;  /* aici este tabelul Contributie   */
    margin-top: -680px;
    display: block;
}

.misloc{
    margin-left: 400px;
    display: block;
}

.date1 {   /* data */
    position: relative;
    right: 10%;
    margin-top: 350px;  
    position:relative;
}
.date2 {   /* data */
    margin-left: 62%;
    margin-top: 248px;
    display: block;
}
.btn-primary {
    background-color: red;
    color: white;
    /* Alte stiluri specifice pentru butonul primar */
  }
  .pdf {
    background-color: red;
  }
  .adauga {
    background-color: rgb(162, 255, 0);
  }
  .pdf{
    margin-left: 45%;
  }